<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kakao.sdk.friend" >

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="33" />

    <application android:usesCleartextTraffic="true" >
        <activity
            android:name="com.kakao.sdk.friend.view.FullPickerActivity"
            android:theme="@style/DayNightFull"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.kakao.sdk.friend.view.PopupPickerActivity"
            android:theme="@style/DayNightPopup" />
    </application>

</manifest>